# Environment setting and package import

In [1]:
import json
import numpy as np
import pandas as pd

from datetime import datetime
from collections import Counter

import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
sns.set_style('whitegrid')
palette = sns.color_palette('coolwarm')

# Tiktok posts dataset preprocessing

## Posts extraction

Posts are extracted using TikTok hashtag analysis toolset developped by bellingcat

https://github.com/bellingcat/tiktok-hashtag-analysis?tab=readme-ov-file#tiktok-hashtag-analysis-toolset

In [ ]:
# pip install tiktok-hashtag-analysis
# python -m playwright install
# terminal command: tiktok-hashtag-analysis personalcoloranalysis

In [3]:
with open('posts.json', 'r') as file:
    data = json.load(file)

In [55]:
# number of posts
len(data)

474

In [5]:
# preview
data[1]

{'BAInfo': '',
 'adAuthorization': False,
 'adLabelVersion': 0,
 'aigcLabelType': 0,
 'author': {'avatarLarger': 'https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/7310710960996483118~c5_1080x1080.jpeg?lk3s=a5d48078&x-expires=1713178800&x-signature=omCo2%2BVJVIRzPFySiaQ96FX5nMc%3D',
  'avatarMedium': 'https://p77-sign-va.tiktokcdn.com/tos-maliva-avt-0068/7310710960996483118~c5_720x720.jpeg?lk3s=a5d48078&x-expires=1713178800&x-signature=mz4du%2BPqkniQn%2FRWQhL7yyeCKlA%3D',
  'avatarThumb': 'https://p77-sign-va.tiktokcdn.com/tos-maliva-avt-0068/7310710960996483118~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1713178800&x-signature=yLbkMhWH1FGuTsoWj7aHiUTDnT4%3D',
  'commentSetting': 0,
  'downloadSetting': 0,
  'duetSetting': 0,
  'ftc': False,
  'id': '6734083000290722821',
  'isADVirtual': False,
  'isEmbedBanned': False,
  'nickname': 'marissa ren',
  'openFavorite': False,
  'privateAccount': False,
  'relation': 0,
  'secUid': 'MS4wLjABAAAAS7wgMAQ1Q91-SqvywvB65aOP9j56-8BMme7pN_qn3a2RRIgv8D14Dd1WiJbDKWIv',
  'secret': False,
  'signature': '23\nnyc 💌\nmarissa@portraitmgmt.com',
  'stitchSetting': 0,
  'ttSeller': False,
  'uniqueId': 'marstruck',
  'verified': True},
 'authorStats': {'diggCount': 19400,
  'followerCount': 2400000,
  'followingCount': 633,
  'friendCount': 0,
  'heart': 87600000,
  'heartCount': 87600000,
  'videoCount': 623},
 'challenges': [{'coverLarger': '',
   'coverMedium': '',
   'coverThumb': '',
   'desc': '',
   'id': '1680988223707142',
   'isCommerce': False,
   'profileLarger': '',
   'profileMedium': '',
   'profileThumb': '',
   'stats': {'videoCount': 0, 'viewCount': 0},
   'title': 'personalcoloranalysis'},
  {'coverLarger': 'https://p77-sg.tiktokcdn.com/obj/tiktok-obj/45d680a7e6fdd774f36fcd8683370cc3.jpeg',
   'coverMedium': 'https://p77-sg.tiktokcdn.com/obj/tiktok-obj/45d680a7e6fdd774f36fcd8683370cc3.jpeg',
   'coverThumb': 'https://p77-sg.tiktokcdn.com/obj/tiktok-obj/45d680a7e6fdd774f36fcd8683370cc3.jpeg',
   'desc': 'Try our new #ColorAnalysis effect and share your high scores with us 🟦 🟩 🟪 🟨',
   'id': '1649132703633414',
   'isCommerce': False,
   'profileLarger': 'https://p77-sg.tiktokcdn.com/obj/tiktok-obj/e77f67562639d3d4c8407d63f5259a7a.jpeg',
   'profileMedium': 'https://p77-sg.tiktokcdn.com/obj/tiktok-obj/e77f67562639d3d4c8407d63f5259a7a.jpeg',
   'profileThumb': 'https://p77-sg.tiktokcdn.com/obj/tiktok-obj/e77f67562639d3d4c8407d63f5259a7a.jpeg',
   'stats': {'videoCount': 0, 'viewCount': 0},
   'title': 'coloranalysis'},
  {'coverLarger': '',
   'coverMedium': '',
   'coverThumb': '',
   'desc': '',
   'id': '12405',
   'isCommerce': False,
   'profileLarger': '',
   'profileMedium': '',
   'profileThumb': '',
   'stats': {'videoCount': 0, 'viewCount': 0},
   'title': 'korea'}],
 'collected': False,
 'contents': [{'desc': 'very fun but humbling experience lol #personalcoloranalysis #coloranalysis #korea ',
   'textExtra': [{'awemeId': '',
     'end': 59,
     'hashtagId': '1680988223707142',
     'hashtagName': 'personalcoloranalysis',
     'isCommerce': False,
     'secUid': '',
     'start': 37,
     'subType': 0,
     'type': 1,
     'userId': '',
     'userUniqueId': ''},
    {'awemeId': '',
     'end': 74,
     'hashtagId': '1649132703633414',
     'hashtagName': 'coloranalysis',
     'isCommerce': False,
     'secUid': '',
     'start': 60,
     'subType': 0,
     'type': 1,
     'userId': '',
     'userUniqueId': ''},
    {'awemeId': '',
     'end': 81,
     'hashtagId': '12405',
     'hashtagName': 'korea',
     'isCommerce': False,
     'secUid': '',
     'start': 75,
     'subType': 0,
     'type': 1,
     'userId': '',
     'userUniqueId': ''}]}],
 'createTime': 1701883746,
 'desc': 'very fun but humbling experience lol #personalcoloranalysis #coloranalysis #korea ',
 'digged': False,
 'duetDisplay': 0,
 'duetEnabled': True,
 'duetInfo': {'duetFromId': '0'},
 'forFriend': False,
 'id': '7309534985084521759',
 'isAd': False,
 'itemCommentStatus': 0,
 'itemMute': False,
 'music': {'album': '',
  'authorName': 'marissa ren',
  'coverLarge': 'https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/7310710960996483118~c5_1080x1080.jpeg?lk3s=a5d48078&x-expires=1713178800&x-signature=omCo2%2BVJVIRzPFySiaQ96FX5nMc%3D',
  'coverMedium': 'https://p77-sign-va.tiktokcdn.com/tos-maliva-avt-0068/7310710960996483118~c5_720x720.jpeg?lk3s=a5d48078&x-expires=1713178800&x-signature=mz4du%2BPqkniQn%2FRWQhL7yyeCKlA%3D',
  'coverThumb': 'https://p77-sign-va.tiktokcdn.com/tos-maliva-avt-0068/7310710960996483118~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1713178800&x-signature=yLbkMhWH1FGuTsoWj7aHiUTDnT4%3D',
  'duration': 88,
  'id': '7309535013219896095',
  'original': True,
  'playUrl': 'https://v77.tiktokcdn.com/f1f6f113752198062c8f68bed418d8cf/661a806f/video/tos/maliva/tos-maliva-ve-27dcd7c799-us/ooB1QfFSBEZliWAUywirKhI2cBVMhxxAwwJceC/?a=1233&bti=NDU3ZjAwOg%3D%3D&ch=0&cr=0&dr=0&er=2&cd=0%7C0%7C0%7C0&br=250&bt=125&ft=.NpOcInz7ThSdC2rXq8Zmo&mime_type=audio_mpeg&qs=6&rc=NzNlaDo8Nzk2ZzdoaDY0ZkBpajg2bmo5cnNkbzMzaTU8NEBfYDMtMmM1NV4xYi1hMTFeYSNsL2RkMmRjcmxgLS1kMTJzcw%3D%3D&vvpl=1&l=202404131152389DA04115BEC9F7501F0E&btag=e00090000&cc=13&download=true',
  'title': 'original sound'},
 'officalItem': False,
 'originalItem': False,
 'playlistId': '',
 'poi': {'address': 'South Korea',
  'category': 'Place and Address',
  'city': '',
  'cityCode': '1845068',
  'country': '',
  'countryCode': '1835841',
  'fatherPoiId': '',
  'fatherPoiName': '',
  'id': '22535865202815278',
  'name': 'Seoul',
  'province': '',
  'ttTypeCode': '19a3a0',
  'ttTypeNameMedium': 'Places',
  'ttTypeNameSuper': 'Place and Address',
  'ttTypeNameTiny': 'City',
  'type': 0,
  'typeCode': ''},
 'privateItem': False,
 'secret': False,
 'shareEnabled': True,
 'showNotPass': False,
 'stats': {'collectCount': 130400,
  'commentCount': 3221,
  'diggCount': 1900000,
  'playCount': 15800000,
  'shareCount': 9207},
 'statsV2': {'collectCount': '130404',
  'commentCount': '3221',
  'diggCount': '1905913',
  'playCount': '15775359',
  'shareCount': '9207'},
 'stickersOnItem': [{'stickerText': ['flying to Korea to get my color analysis test',
    'the lighting looks really bad on my phone***',
    '“when you get married, this is your wedding dress color”'],
   'stickerType': 4}],
 'stitchDisplay': 0,
 'stitchEnabled': True,
 'textExtra': [{'awemeId': '',
   'end': 59,
   'hashtagId': '1680988223707142',
   'hashtagName': 'personalcoloranalysis',
   'isCommerce': False,
   'secUid': '',
   'start': 37,
   'subType': 0,
   'type': 1,
   'userId': '',
   'userUniqueId': ''},
  {'awemeId': '',
   'end': 74,
   'hashtagId': '1649132703633414',
   'hashtagName': 'coloranalysis',
   'isCommerce': False,
   'secUid': '',
   'start': 60,
   'subType': 0,
   'type': 1,
   'userId': '',
   'userUniqueId': ''},
  {'awemeId': '',
   'end': 81,
   'hashtagId': '12405',
   'hashtagName': 'korea',
   'isCommerce': False,
   'secUid': '',
   'start': 75,
   'subType': 0,
   'type': 1,
   'userId': '',
   'userUniqueId': ''}],
 'video': {'bitrate': 894455,
  'bitrateInfo': [{'Bitrate': 912452,
    'CodecType': 'h265_hvc1',
    'GearName': 'adapt_lowest_1080_1',
    'PlayAddr': {'DataSize': 10086477,
     'FileCs': 'c:0-74366-ae97',
     'FileHash': 'fd35e7ce3a3c90b6598dd696d537a8ea',
     'Uri': 'v15044gf0000cloarjnog65rntrg4h1g',
     'UrlKey': 'v15044gf0000cloarjnog65rntrg4h1g_bytevc1_1080p_912452',
     'UrlList': ['https://v16-webapp-prime.tiktok.com/video/tos/maliva/tos-maliva-ve-0068c799-us/oMcvQKBRVwA3RJ7npEvBJDzt3XFsIACiEiZCj/?a=1988&bti=NDU3ZjAwOg%3D%3D&ch=0&cr=3&dr=0&lr=unwatermarked&cd=0%7C0%7C0%7C&cv=1&br=1782&bt=891&cs=2&ds=4&ft=4fUEKMRh8Zmo0ritu-4jVZSbrpWrKsd.&mime_type=video_mp4&qs=15&rc=NTc2ZWQ2NThoNTQ1aWgzZ0Bpamtqd3U5cm1kbzMzaTczNEBiLTUuX2FgXjUxYi8tMDZjYSMuMW9rMmRrb2xgLS1kMTJzcw%3D%3D&btag=e00090000&expire=1713182047&l=202404131152389DA04115BEC9F7501F0E&ply_type=2&policy=2&signature=8706239fb52cc977b0f7b8ff6350f605&tk=tt_chain_token',
      'https://v19-webapp-prime.tiktok.com/video/tos/maliva/tos-maliva-ve-0068c799-us/oMcvQKBRVwA3RJ7npEvBJDzt3XFsIACiEiZCj/?a=1988&bti=NDU3ZjAwOg%3D%3D&ch=0&cr=3&dr=0&lr=unwatermarked&cd=0%7C0%7C0%7C&cv=1&br=1782&bt=891&cs=2&ds=4&ft=4fUEKMRh8Zmo0ritu-4jVZSbrpWrKsd.&mime_type=video_mp4&qs=15&rc=NTc2ZWQ2NThoNTQ1aWgzZ0Bpamtqd3U5cm1kbzMzaTczNEBiLTUuX2FgXjUxYi8tMDZjYSMuMW9rMmRrb2xgLS1kMTJzcw%3D%3D&btag=e00090000&expire=1713182047&l=202404131152389DA04115BEC9F7501F0E&ply_type=2&policy=2&signature=8706239fb52cc977b0f7b8ff6350f605&tk=tt_chain_token']},
    'QualityType': 2},
   {'Bitrate': 894455,
    'CodecType': 'h264',
    'GearName': 'normal_540_0',
    'PlayAddr': {'DataSize': 9887533,
     'FileCs': 'c:0-73720-bed0',
     'FileHash': 'a2b3ae98bb059b3a16550e60c5c4e5fa',
     'Uri': 'v15044gf0000cloarjnog65rntrg4h1g',
     'UrlKey': 'v15044gf0000cloarjnog65rntrg4h1g_h264_540p_894455',
     'UrlList': ['https://v16-webapp-prime.tiktok.com/video/tos/maliva/tos-maliva-ve-0068c799-us/oIB2eGFVewKecukS7ycYfACRUQQ4A793AEW3gr/?a=1988&bti=NDU3ZjAwOg%3D%3D&ch=0&cr=3&dr=0&lr=unwatermarked&cd=0%7C0%7C0%7C&cv=1&br=1746&bt=873&cs=0&ds=6&ft=4fUEKMRh8Zmo0ritu-4jVZSbrpWrKsd.&mime_type=video_mp4&qs=0&rc=N2RmaDZkMzs7ZjY1ZmQ5aUBpamtqd3U5cm1kbzMzaTczNEAtNjJeYC0tXmExMV5hNl8wYSMuMW9rMmRrb2xgLS1kMTJzcw%3D%3D&btag=e00090000&expire=1713182047&l=202404131152389DA04115BEC9F7501F0E&ply_type=2&policy=2&signature=49a9a9afa2b1d7855b9f0652de210b7b&tk=tt_chain_token',
      'https://v19-webapp-prime.tiktok.com/video/tos/maliva/tos-maliva-ve-0068c799-us/oIB2eGFVewKecukS7ycYfACRUQQ4A793AEW3gr/?a=1988&bti=NDU3ZjAwOg%3D%3D&ch=0&cr=3&dr=0&lr=unwatermarked&cd=0%7C0%7C0%7C&cv=1&br=1746&bt=873&cs=0&ds=6&ft=4fUEKMRh8Zmo0ritu-4jVZSbrpWrKsd.&mime_type=video_mp4&qs=0&rc=N2RmaDZkMzs7ZjY1ZmQ5aUBpamtqd3U5cm1kbzMzaTczNEAtNjJeYC0tXmExMV5hNl8wYSMuMW9rMmRrb2xgLS1kMTJzcw%3D%3D&btag=e00090000&expire=1713182047&l=202404131152389DA04115BEC9F7501F0E&ply_type=2&policy=2&signature=49a9a9afa2b1d7855b9f0652de210b7b&tk=tt_chain_token']},
    'QualityType': 20},
   {'Bitrate': 580507,
    'CodecType': 'h265_hvc1',
    'GearName': 'adapt_lower_720_1',
    'PlayAddr': {'DataSize': 6417080,
     'FileCs': 'c:0-74334-bfc9',
     'FileHash': '185e45e6df2790b1ddb509a0c83e807f',
     'Uri': 'v15044gf0000cloarjnog65rntrg4h1g',
     'UrlKey': 'v15044gf0000cloarjnog65rntrg4h1g_bytevc1_720p_580507',
     'UrlList': ['https://v16-webapp-prime.tiktok.com/video/tos/maliva/tos-maliva-ve-0068c799-us/o0cwtiDIHX3VCRRBEEZiEtAzIQ7GuvDpsAvBC/?a=1988&bti=NDU3ZjAwOg%3D%3D&ch=0&cr=3&dr=0&lr=unwatermarked&cd=0%7C0%7C0%7C&cv=1&br=1132&bt=566&cs=2&ds=3&ft=4fUEKMRh8Zmo0ritu-4jVZSbrpWrKsd.&mime_type=video_mp4&qs=14&rc=Nzc5O2U7OWc6OGRpNjU1ZUBpamtqd3U5cm1kbzMzaTczNEA0L2FgMV82XmAxYzYzYDMtYSMuMW9rMmRrb2xgLS1kMTJzcw%3D%3D&btag=e00090000&expire=1713182047&l=202404131152389DA04115BEC9F7501F0E&ply_type=2&policy=2&signature=b14f1f30836ebe0f5501bc5a6cd7b54c&tk=tt_chain_token',
      'https://v19-webapp-prime.tiktok.com/video/tos/maliva/tos-maliva-ve-0068c799-us/o0cwtiDIHX3VCRRBEEZiEtAzIQ7GuvDpsAvBC/?a=1988&bti=NDU3ZjAwOg%3D%3D&ch=0&cr=3&dr=0&lr=unwatermarked&cd=0%7C0%7C0%7C&cv=1&br=1132&bt=566&cs=2&ds=3&ft=4fUEKMRh8Zmo0ritu-4jVZSbrpWrKsd.&mime_type=video_mp4&qs=14&rc=Nzc5O2U7OWc6OGRpNjU1ZUBpamtqd3U5cm1kbzMzaTczNEA0L2FgMV82XmAxYzYzYDMtYSMuMW9rMmRrb2xgLS1kMTJzcw%3D%3D&btag=e00090000&expire=1713182047&l=202404131152389DA04115BEC9F7501F0E&ply_type=2&policy=2&signature=b14f1f30836ebe0f5501bc5a6cd7b54c&tk=tt_chain_token']},
    'QualityType': 14},
   {'Bitrate': 521043,
    'CodecType': 'h265_hvc1',
    'GearName': 'adapt_540_1',
    'PlayAddr': {'DataSize': 5759747,
     'FileCs': 'c:0-74330-d239',
     'FileHash': '014b6230a9d3a2696a62c388cde69c3b',
     'Uri': 'v15044gf0000cloarjnog65rntrg4h1g',
     'UrlKey': 'v15044gf0000cloarjnog65rntrg4h1g_bytevc1_540p_521043',
     'UrlList': ['https://v16-webapp-prime.tiktok.com/video/tos/maliva/tos-maliva-ve-0068c799-us/oAVfqLGMjIIUAIfdRwIQuuCAsgEABuK44KeGih/?a=1988&bti=NDU3ZjAwOg%3D%3D&ch=0&cr=3&dr=0&lr=unwatermarked&cd=0%7C0%7C0%7C&cv=1&br=1016&bt=508&cs=2&ds=6&ft=4fUEKMRh8Zmo0ritu-4jVZSbrpWrKsd.&mime_type=video_mp4&qs=11&rc=NzhoZDo2aGY5O2c4NDk2N0Bpamtqd3U5cm1kbzMzaTczNEAtMS4yYTFgNTYxMi1jMzBjYSMuMW9rMmRrb2xgLS1kMTJzcw%3D%3D&btag=e00090000&expire=1713182047&l=202404131152389DA04115BEC9F7501F0E&ply_type=2&policy=2&signature=3091179a14ac85b12c4ee9bafb8f2de1&tk=tt_chain_token',
      'https://v19-webapp-prime.tiktok.com/video/tos/maliva/tos-maliva-ve-0068c799-us/oAVfqLGMjIIUAIfdRwIQuuCAsgEABuK44KeGih/?a=1988&bti=NDU3ZjAwOg%3D%3D&ch=0&cr=3&dr=0&lr=unwatermarked&cd=0%7C0%7C0%7C&cv=1&br=1016&bt=508&cs=2&ds=6&ft=4fUEKMRh8Zmo0ritu-4jVZSbrpWrKsd.&mime_type=video_mp4&qs=11&rc=NzhoZDo2aGY5O2c4NDk2N0Bpamtqd3U5cm1kbzMzaTczNEAtMS4yYTFgNTYxMi1jMzBjYSMuMW9rMmRrb2xgLS1kMTJzcw%3D%3D&btag=e00090000&expire=1713182047&l=202404131152389DA04115BEC9F7501F0E&ply_type=2&policy=2&signature=3091179a14ac85b12c4ee9bafb8f2de1&tk=tt_chain_token']},
    'QualityType': 28},
   {'Bitrate': 466526,
    'CodecType': 'h264',
    'GearName': 'lower_540_0',
    'PlayAddr': {'DataSize': 5157100,
     'FileCs': 'c:0-73720-ca4a',
     'FileHash': 'e9523dadaee262213d4e06e3644ace36',
     'Uri': 'v15044gf0000cloarjnog65rntrg4h1g',
     'UrlKey': 'v15044gf0000cloarjnog65rntrg4h1g_h264_540p_466526',
     'UrlList': ['https://v16-webapp-prime.tiktok.com/video/tos/maliva/tos-maliva-ve-0068c799-us/ocRCrZiEwzH7IxA3gRtABDV6EQXCE3vmiBWcv/?a=1988&bti=NDU3ZjAwOg%3D%3D&ch=0&cr=3&dr=0&lr=unwatermarked&cd=0%7C0%7C0%7C&cv=1&br=910&bt=455&cs=0&ds=6&ft=4fUEKMRh8Zmo0ritu-4jVZSbrpWrKsd.&mime_type=video_mp4&qs=4&rc=ZDYzOjppO2U6OTo4Z2YzM0Bpamtqd3U5cm1kbzMzaTczNEA1MDJgMjQ1NV8xYy8tX2EwYSMuMW9rMmRrb2xgLS1kMTJzcw%3D%3D&btag=e00090000&expire=1713182047&l=202404131152389DA04115BEC9F7501F0E&ply_type=2&policy=2&signature=1fdebfcda9008a04ff3bc52f8cd42090&tk=tt_chain_token',
      'https://v19-webapp-prime.tiktok.com/video/tos/maliva/tos-maliva-ve-0068c799-us/ocRCrZiEwzH7IxA3gRtABDV6EQXCE3vmiBWcv/?a=1988&bti=NDU3ZjAwOg%3D%3D&ch=0&cr=3&dr=0&lr=unwatermarked&cd=0%7C0%7C0%7C&cv=1&br=910&bt=455&cs=0&ds=6&ft=4fUEKMRh8Zmo0ritu-4jVZSbrpWrKsd.&mime_type=video_mp4&qs=4&rc=ZDYzOjppO2U6OTo4Z2YzM0Bpamtqd3U5cm1kbzMzaTczNEA1MDJgMjQ1NV8xYy8tX2EwYSMuMW9rMmRrb2xgLS1kMTJzcw%3D%3D&btag=e00090000&expire=1713182047&l=202404131152389DA04115BEC9F7501F0E&ply_type=2&policy=2&signature=1fdebfcda9008a04ff3bc52f8cd42090&tk=tt_chain_token']},
    'QualityType': 24},
   {'Bitrate': 339280,
    'CodecType': 'h264',
    'GearName': 'lowest_540_0',
    'PlayAddr': {'DataSize': 3750490,
     'FileCs': 'c:0-73720-f15b',
     'FileHash': '3ca58d33268508e923dc13694b43d813',
     'Uri': 'v15044gf0000cloarjnog65rntrg4h1g',
     'UrlKey': 'v15044gf0000cloarjnog65rntrg4h1g_h264_540p_339280',
     'UrlList': ['https://v16-webapp-prime.tiktok.com/video/tos/maliva/tos-maliva-ve-0068c799-us/oQzXZwBDRCEV5EkBrCEvA3c7iRA1cvQjt3iDI/?a=1988&bti=NDU3ZjAwOg%3D%3D&ch=0&cr=3&dr=0&lr=unwatermarked&cd=0%7C0%7C0%7C&cv=1&br=662&bt=331&cs=0&ds=6&ft=4fUEKMRh8Zmo0ritu-4jVZSbrpWrKsd.&mime_type=video_mp4&qs=5&rc=OzRoZzs0MzU0OmVoZ2c4N0Bpamtqd3U5cm1kbzMzaTczNEBfYDMvMTM1Nl4xMV9fX2BeYSMuMW9rMmRrb2xgLS1kMTJzcw%3D%3D&btag=e00090000&expire=1713182047&l=202404131152389DA04115BEC9F7501F0E&ply_type=2&policy=2&signature=bfa6951ff10bc5686cefc279b507da24&tk=tt_chain_token',
      'https://v19-webapp-prime.tiktok.com/video/tos/maliva/tos-maliva-ve-0068c799-us/oQzXZwBDRCEV5EkBrCEvA3c7iRA1cvQjt3iDI/?a=1988&bti=NDU3ZjAwOg%3D%3D&ch=0&cr=3&dr=0&lr=unwatermarked&cd=0%7C0%7C0%7C&cv=1&br=662&bt=331&cs=0&ds=6&ft=4fUEKMRh8Zmo0ritu-4jVZSbrpWrKsd.&mime_type=video_mp4&qs=5&rc=OzRoZzs0MzU0OmVoZ2c4N0Bpamtqd3U5cm1kbzMzaTczNEBfYDMvMTM1Nl4xMV9fX2BeYSMuMW9rMmRrb2xgLS1kMTJzcw%3D%3D&btag=e00090000&expire=1713182047&l=202404131152389DA04115BEC9F7501F0E&ply_type=2&policy=2&signature=bfa6951ff10bc5686cefc279b507da24&tk=tt_chain_token']},
    'QualityType': 25}],
  'codecType': 'h264',
  'cover': 'https://p16-sign.tiktokcdn-us.com/obj/tos-useast8-p-0068-tx2/ocWAuiXdAfuIVuqKjfGCIE4gsIQaICLh8Lg4eG?x-expires=1713178800&x-signature=re%2B%2BE%2BnID%2FdoQZ9MdipAbj5V7jM%3D',
  'definition': '540p',
  'downloadAddr': 'https://v16-webapp-prime.tiktok.com/video/tos/maliva/tos-maliva-ve-0068c799-us/o8ZwvAKR3IAXvBVcUKiCtiFQEEr3BzRRCP7Dm/?a=1988&bti=NDU3ZjAwOg%3D%3D&ch=0&cr=3&dr=0&lr=tiktok_m&cd=0%7C0%7C1%7C&cv=1&br=1962&bt=981&cs=0&ds=3&ft=4fUEKMRh8Zmo0ritu-4jVZSbrpWrKsd.&mime_type=video_mp4&qs=0&rc=aDQ8PGk0aTs8ZTVlMzY3Z0Bpamtqd3U5cm1kbzMzaTczNEBhMDJhNS5iNTExNDReXzUtYSMuMW9rMmRrb2xgLS1kMTJzcw%3D%3D&btag=e00090000&expire=1713182047&l=202404131152389DA04115BEC9F7501F0E&ply_type=2&policy=2&signature=4c2fa50854c46c931ce6ba318846dfbf&tk=tt_chain_token',
  'duration': 88,
  'dynamicCover': 'https://p16-sign.tiktokcdn-us.com/obj/tos-useast8-p-0068-tx2/bb05e22a3ba94d9d9e8b3329652f6c70_1701883750?x-expires=1713178800&x-signature=b%2F7HSMT%2FtQu6Wi703ty%2Fzz3rPWM%3D',
  'encodeUserTag': '',
  'encodedType': 'normal',
  'format': 'mp4',
  'height': 1024,
  'id': '7309534985084521759',
  'originCover': 'https://p19-sign.tiktokcdn-us.com/obj/tos-useast8-p-0068-tx2/24f8e3ad392e4dc1a43e687544afce18_1701883750?x-expires=1713178800&x-signature=WdvM8nHyQYNnUiHfVfBZu9SAK4c%3D',
  'playAddr': 'https://v16-webapp-prime.tiktok.com/video/tos/maliva/tos-maliva-ve-0068c799-us/oIB2eGFVewKecukS7ycYfACRUQQ4A793AEW3gr/?a=1988&bti=NDU3ZjAwOg%3D%3D&ch=0&cr=3&dr=0&lr=unwatermarked&cd=0%7C0%7C0%7C&cv=1&br=1746&bt=873&cs=0&ds=6&ft=4fUEKMRh8Zmo0ritu-4jVZSbrpWrKsd.&mime_type=video_mp4&qs=0&rc=N2RmaDZkMzs7ZjY1ZmQ5aUBpamtqd3U5cm1kbzMzaTczNEAtNjJeYC0tXmExMV5hNl8wYSMuMW9rMmRrb2xgLS1kMTJzcw%3D%3D&btag=e00090000&expire=1713182047&l=202404131152389DA04115BEC9F7501F0E&ply_type=2&policy=2&signature=49a9a9afa2b1d7855b9f0652de210b7b&tk=tt_chain_token',
  'ratio': '540p',
  'reflowCover': 'https://p16-sign.tiktokcdn-us.com/tos-useast8-p-0068-tx2/ocWAuiXdAfuIVuqKjfGCIE4gsIQaICLh8Lg4eG~tplv-photomode-video-cover:480:480.jpeg?x-expires=1713178800&x-signature=bjescQ5evr8Eo%2F5iyNmlpn9Y3E4%3D',
  'shareCover': ['',
   'https://p16-sign.tiktokcdn-us.com/tos-useast8-p-0068-tx2/24f8e3ad392e4dc1a43e687544afce18_1701883750~tplv-photomode-tiktok-play.jpeg?x-expires=1713610800&x-signature=EiRlhp6aFOboocav35wCw51Ke8o%3D',
   'https://p16-sign.tiktokcdn-us.com/tos-useast8-p-0068-tx2/24f8e3ad392e4dc1a43e687544afce18_1701883750~tplv-photomode-share-play.jpeg?x-expires=1713610800&x-signature=pb5408IYWoMXA%2B4hSXGomm4s00g%3D'],
  'size': 9887533,
  'subtitleInfos': [{'Format': 'webvtt',
    'LanguageCodeName': 'ind-ID',
    'LanguageID': '23',
    'Size': 3841,
    'Source': 'MT',
    'Url': 'https://v16-webapp.tiktok.com/2e1829b54701d9b275f9a76cb6266035/661d155f/video/tos/maliva/tos-maliva-v-0068c799-us/23ee13b61d6a462d9c55c4afebbaa559/?a=1988&bti=NDU3ZjAwOg%3D%3D&ch=0&cr=3&dr=0&lr=unwatermarked&cd=0%7C0%7C0%7C&cv=1&br=15654&bt=7827&ds=4&ft=4b~OyMRh8Zmo0ritu-4jVZSbrpWrKsd.&mime_type=video_mp4&qs=13&rc=amtqd3U5cm1kbzMzaTczNEBpamtqd3U5cm1kbzMzaTczNEAuMW9rMmRrb2xgLS1kMTJzYSMuMW9rMmRrb2xgLS1kMTJzcw%3D%3D&l=202404131152389DA04115BEC9F7501F0E&btag=e00050000',
    'UrlExpire': 1713182047,
    'Version': '4',
    'VideoSubtitleID': 212044566},
   {'Format': 'webvtt',
    'LanguageCodeName': 'cmn-Hans-CN',
    'LanguageID': '1',
    'Size': 3444,
    'Source': 'MT',
    'Url': 'https://v16-webapp.tiktok.com/643c87a1c00e288e679399d25581f697/661d155f/video/tos/maliva/tos-maliva-v-0068c799-us/f4e399ed4c4045bab057e6f13c12887c/?a=1988&bti=NDU3ZjAwOg%3D%3D&ch=0&cr=3&dr=0&lr=unwatermarked&cd=0%7C0%7C0%7C&cv=1&br=15654&bt=7827&ds=4&ft=4b~OyMRh8Zmo0ritu-4jVZSbrpWrKsd.&mime_type=video_mp4&qs=13&rc=amtqd3U5cm1kbzMzaTczNEBpamtqd3U5cm1kbzMzaTczNEAuMW9rMmRrb2xgLS1kMTJzYSMuMW9rMmRrb2xgLS1kMTJzcw%3D%3D&l=202404131152389DA04115BEC9F7501F0E&btag=e00050000',
    'UrlExpire': 1713182047,
    'Version': '4',
    'VideoSubtitleID': 1603641363},
   {'Format': 'webvtt',
    'LanguageCodeName': 'rus-RU',
    'LanguageID': '6',
    'Size': 5602,
    'Source': 'MT',

## Data cleaning

In [7]:
# define function to extract all hashtags in one post
def extract_hashtags(record):
    hashtags = []
    for content in record['contents']:
        for text_extra in content['textExtra']:
            hashtags.append(text_extra['hashtagName'])
    return hashtags

In [8]:
# define function to extract location of a post because most of the posts do not have 'poi'
def extract_location(record):
    location = []
    if 'poi' in record:
        poi = record['poi']
        name = poi.get('name')
        if name:
            location.append(name)
    return location

In [9]:
# create dataframe that stores necessary attributes

post_list = []

for record in data:
    id = record['id']
    user_name = record['author']['nickname']
    author = record['authorStats']
    author_follower = author['followerCount']
    author_heart = author['heart']
    desc = record['desc']
    challenge = record['challenges']
    cha_desc = challenge[0]['desc']
    stats = record['statsV2']
    comments = stats['commentCount']
    digg = stats['diggCount']
    view = stats['playCount']
    share = stats['shareCount']
    collect = stats['collectCount']
    posttime = record['createTime']
    all_hashtags = extract_hashtags(record)
    location = extract_location(record)

    post_list.append(
        {'id':id,
         'user_name':user_name,
        'author_follower':author_follower,
        'author_heart':author_heart,
        'posttime':posttime,
        'location':location,
        'view':view,
        'collect':collect,
        'share':share,
        'digg':digg,
        'comments':comments,
        'desc':desc,
        'cha_desc':cha_desc,
        'all_hashtags':all_hashtags}
    )

df = pd.DataFrame(post_list)

In [10]:
# preview of posts dataframe

df.head(20)

,id,user_name,author_follower,author_heart,posttime,location,view,collect,share,digg,comments,desc,cha_desc,all_hashtags
0,7324359490361412869,Carol Brailey|Color Analysis🎨,323700,6800000,1705335339,[],17444557,177617,11690,2207386,8115,This client’s colour analysis update raises so...,,"[carolbrailey, colouranalysis, coloranalysis, ..."
1,7309534985084521759,marissa ren,2400000,87600000,1701883746,[Seoul],15775359,130404,9207,1905913,3221,very fun but humbling experience lol #personal...,,"[personalcoloranalysis, coloranalysis, korea]"
2,7190844699408698667,Rosa,25900,2100000,1674249012,[],9174808,174663,54000,1483705,3330,me the entire video🤨 #fyp #korea #personalcolo...,,"[fyp, korea, personalcoloranalysis, southkorea..."
3,7130674894198623534,khadija 🍉,4076,1900000,1660239629,[],12565693,36630,1075,1469326,1008,When I realized I bought two blue tops the day...,,"[personalcolor, colortest, personalcoloranalys..."
4,7164035101205040430,shu ☁️,9355,1700000,1668006917,[],13440706,42784,3235,1202012,1387,I'm still in denial 🥲 #personalcoloranalysis #...,,"[personalcoloranalysis, personalcolor, persona..."
5,7228231085077908754,Molita Lin,64800,2900000,1682953700,[],9304393,135619,12573,1014673,1721,Finally i tried the personal color test & body...,,"[personalcolor, personalcoloranalysis, bodytyp..."
6,7064232817164602630,Julia Dobkine|Agile Styling,202800,5100000,1644769874,[],7584594,15672,824,881272,945,#personalcolor #personalcoloranalysis #colourc...,,"[personalcolor, personalcoloranalysis, colourc..."
7,7351867077415865646,Fashion Finds and Fits,22500,2000000,1711739975,[],18499755,276554,32432,742171,36275,Use the app WhatColors to find all of this out...,Try our new #ColorAnalysis effect and share yo...,"[coloranalysis, personalcolor, personalcoloran..."
8,7329912922581257504,★,11900,1900000,1706628352,[],6197404,185526,3816,712768,14447,#fyp #foryou #colorpalette #fypシ #undertone #w...,,"[fyp, foryou, colorpalette, fypシ, undertone, w..."
9,7130656073572306222,nvemaa,5784,1700000,1660235247,[],6887743,10044,314,683663,975,ignore my rbf #personalcolor #personalcolorana...,,"[personalcolor, personalcoloranalysis, persona..."
10,7237396924658093317,claristadsntia,1447,567200,1685087787,[],4505260,80298,10084,564993,767,"full experience personal color test, im a spri...",,"[personalcolor, personalcolortest, personalcol..."
11,7266073362831641862,Julia Dobkine|Agile Styling,202800,5100000,1691764541,[],6296203,18242,1929,542795,405,A quick snippet from a full YouTube video with...,Try our new #ColorAnalysis effect and share yo...,"[coloranalysis, colouranalysis, selfcoloranaly..."
12,7082007119402159406,Kate Cho 🦋,54800,2300000,1648908277,[],1664256,35628,2360,432724,582,I got my #personalcoloranalysis in#seoul 🎨Foll...,,"[personalcoloranalysis, seoul, transformation,..."
13,7324485834818719018,Aly Kima,164700,9600000,1705364774,[],6000613,255706,19064,415660,2383,Replying to @sabrina.n.smith use no makeup and...,Try our new #ColorAnalysis effect and share yo...,"[, coloranalysis, colorseasons, colorseason, p..."
14,7290200166274026758,moon | saekjo studios,19400,1400000,1697382000,[Surabaya],14531479,14012,822,392602,752,"dalam lubuk hati, client ini tau yang bagus ad...",,"[personalcolor, personal, color, personalcolor..."
15,7307316059076447494,Liry Onni 릴리언니,2100000,118500000,1701367121,[],2242704,41306,1842,385046,590,Descubrí mi #colorpersonal en una asesoría de ...,,"[colorpersonal, corea, kbeauty, personalcolor,..."
16,7150233251276262683,ครูกิ๊ฟ ที่ปรึกษาภาพลักษณ์,79600,741400,1664793417,[],4133911,14213,1122,364187,774,มารยาทการทานขนมปัง(Bread Roll) ในมื้ออาหาร ตาม...,,"[ครูกิ๊ฟคริมา, thereflectionist, thereflection..."
17,7300919955980061958,Arshie Larga,3900000,127100000,1699877896,[],4085572,25519,2808,356188,727,Akala ko talaga mas bagay sa’kin ang mga warm ...,,[personalcoloranalysis]
18,7229687033311071534,AVA,1700000,103100000,1683292698,[],9383393,146646,15234,333386,1670,use these filters to try a personal color test...,,"[personalcolor, personalcoloranalysis, warmton..."
19,7164598998177762603,shu ☁️,9355,1700000,1668138203,[Seoul],2443425,38718,3643,320867,963,Replying to @gizzzzzzt here it is 🎨 my persona...,,"[, personalcoloranalysis, personalcolor, perso..."

In [11]:
# check data types

df.dtypes

id                 object
user_name          object
author_follower     int64
author_heart        int64
posttime            int64
location           object
view               object
collect            object
share              object
digg               object
comments           object
desc               object
cha_desc           object
all_hashtags       object
dtype: object

In [12]:
# transform datetime

df['post_date']=df['posttime'].apply(lambda x: datetime.fromtimestamp(x))
df.pop('posttime')

0      1705335339
1      1701883746
2      1674249012
3      1660239629
4      1668006917
          ...
469    1667536565
470    1710332080
471    1712548430
472    1675692635
473    1706026523
Name: posttime, Length: 474, dtype: int64

In [57]:
# transform objects

int_list = ['id','view','share','comments','digg','collect']
str_list = ['user_name','desc','cha_desc'] 

for attr in int_list:
    df[attr] = df[attr].astype(int)

for re in str_list:
    df[re] = df[re].astype('string')

df.dtypes

id                          int64
user_name                  string
author_follower             int64
author_heart                int64
location                   object
view                        int64
collect                     int64
share                       int64
digg                        int64
comments                    int64
desc                       string
cha_desc                   string
all_hashtags               object
post_date          datetime64[ns]
dtype: object

In [58]:
# sorted_df = df.sort_values(by='view', ascending=False)
# sorted_df

In [59]:
# sorted_date_df = df.sort_values(by='post_date')
# sorted_date_df[sorted_date_df['cha_desc'].str.contains('new')]

In [66]:
df.to_csv('posts_df.csv')

# EDA

In [29]:
# count posts per year

plot_df_count = df.groupby(df['post_date'].dt.year).agg(
    post_count=('post_date', 'size'),
    view_count=('view', 'sum'),
    collect_count=('collect','sum'),
    comments_count=('comments', 'sum'),
    share_count=('share', 'sum'),
    digg_count=('digg', 'sum')
).reset_index()

plot_df_count.rename(columns={'post_date': 'year'}, inplace=True)

In [70]:
plot_df_count

   year  post_count  view_count  collect_count  comments_count  share_count  digg_count
0  2020           2     1228445           3854             596         1158      123455
1  2021           4     2279523           5181             892         2185      152666
2  2022          94   106680878         438285           49875        40700     9225472
3  2023         289   233222758        2518254           60047       290392    17410302
4  2024          85    97042277        1233486           95358        94920     6545666

In [88]:
df['year'] = df['post_date'].dt.year
df['month'] = df['post_date'].dt.month
df['y_m'] = df['post_date'].dt.strftime('%Y-%m')
df.head(5)

                    id                      user_name  author_follower  author_heart location      view  collect  share     digg  comments                                               desc cha_desc                                       all_hashtags           post_date  year  month                                         year_month      y_m
0  7324359490361412869  Carol Brailey|Color Analysis🎨           323700       6800000       []  17444557   177617  11690  2207386      8115  This client’s colour analysis update raises so...           [carolbrailey, colouranalysis, coloranalysis, ... 2024-01-15 17:15:39  2024      1  0      2024\n1      2023\n2      2023\n3      ...  2024-01
1  7309534985084521759                    marissa ren          2400000      87600000  [Seoul]  15775359   130404   9207  1905913      3221  very fun but humbling experience lol #personal...               [personalcoloranalysis, coloranalysis, korea] 2023-12-06 18:29:06  2023     12  0      2024\n1      2023\n2      2023\n3      ...  2023-12
2  7190844699408698667                           Rosa            25900       2100000       []   9174808   174663  54000  1483705      3330  me the entire video🤨 #fyp #korea #personalcolo...           [fyp, korea, personalcoloranalysis, southkorea... 2023-01-20 22:10:12  2023      1  0      2024\n1      2023\n2      2023\n3      ...  2023-01
3  7130674894198623534                      khadija 🍉             4076       1900000       []  12565693    36630   1075  1469326      1008  When I realized I bought two blue tops the day...           [personalcolor, colortest, personalcoloranalys... 2022-08-11 19:40:29  2022      8  0      2024\n1      2023\n2      2023\n3      ...  2022-08
4  7164035101205040430                         shu ☁️             9355       1700000       []  13440706    42784   3235  1202012      1387  I'm still in denial 🥲 #personalcoloranalysis #...           [personalcoloranalysis, personalcolor, persona... 2022-11-09 16:15:17  2022     11  0      2024\n1      2023\n2      2023\n3      ...  2022-11

In [90]:
# count posts per month

plot_df_count_2 = df.groupby('y_m').agg(
    post_count=('id', 'size'),
    view_count=('view', 'sum'),
    collect_count=('collect', 'sum'),
    comments_count=('comments', 'sum'),
    share_count=('share', 'sum'),
    digg_count=('digg', 'sum')
).reset_index()

plot_df_count_2

        y_m  post_count  view_count  collect_count  comments_count  share_count  digg_count
0   2020-10           1     1017748           3686             499         1101      107863
1   2020-12           1      210697            168              97           57       15592
2   2021-04           1      294783           2440             137          684       42215
3   2021-06           1     1167933           1666             463          299       75014
4   2021-08           2      816807           1075             292         1202       35437
5   2022-01           2     1712240           6053             229          331      104584
6   2022-02           7    10823206          23839            1647         2300     1055469
7   2022-03           4     3568003           2330             261          302      181223
8   2022-04           7     8610464          86399            3830        11529      826298
9   2022-05          11    11952526          36687           20797         1793     1022883
10  2022-06           9     1988002           5811            3730          647      112869
11  2022-07           6     7711190          13127            9607          664      421112
12  2022-08          12    25245391          96184            3616         5692     2687000
13  2022-09           6     1071986           5279             320          391       56231
14  2022-10          12    10992725          33382            1882         3010      724166
15  2022-11          11    19331679         106159            3170        10411     1761873
16  2022-12           7     3673466          23035             786         3630      271764
17  2023-01          23    18551980         257267           12487        65588     2216227
18  2023-02           7     3435188          18480             678         1775      250752
19  2023-03          15     4083792          93758            1739         9864      288065
20  2023-04          29    12596283         142094            3458        14239      821059
21  2023-05          24    32232934         527769            7170        55369     2684951
22  2023-06          32    14309809         294169            6393        27102     1079766
23  2023-07          21     9192258         123527            1965        18640      773319
24  2023-08          19    23419228         153973            3658        17700     1359438
25  2023-09          28    12836634         122144            4355        17824      964151
26  2023-10          33    38856210         265746            6316        29653     2272100
27  2023-11          21    28411982         154924            4110        10101     1739618
28  2023-12          37    35296460         364403            7718        22537     2960856
29  2024-01          36    58156244         830544           48663        41492     4501391
30  2024-02          22     7688680          66448            4685         8354      574809
31  2024-03          21    30173871         326898           41288        41497     1380278
32  2024-04           6     1023482           9596             722         3577       89188

In [60]:
# co-ocurring hashtags summary

allhashtags = []

for hashtags_list in df['all_hashtags']:
    allhashtags.extend(hashtags_list)

hashtags_counter = Counter(allhashtags)
hashtags_dict = dict(hashtags_counter)

hashtags_freq = pd.DataFrame(list(hashtags_dict.items()), columns=['Hashtag', 'Frequency'])
hashtags_freq = hashtags_freq.sort_values(by='Frequency', ascending=False)
hashtags_freq.head(20)

                    Hashtag  Frequency
9     personalcoloranalysis        479
22            personalcolor        268
2             coloranalysis        165
21                                 130
30        personalcolortest         81
4          coloranalysistok         68
5                 undertone         64
16                      fyp         61
26                  kbeauty         60
1            colouranalysis         58
12             colorseasons         53
3         colouranalysistok         45
10   personalcolouranalysis         44
6                   sparkle         42
0              carolbrailey         40
53   personalcolorindonesia         39
11            colourseasons         38
15                    korea         33
107                  makeup         30
24                    seoul         30